
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #b2d4e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    background-color: #f0eded;
    box-shadow: 10px 10px 30px rgba(97, 182, 243, 0.9),
                -10px -10px 30px rgba(168, 205, 232, 0.9);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 25px;
    width: 350px;
  }
  
  .screen {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
                inset -5px -5px 10px rgba(255, 255, 255, 0.9);
    color:#333;
    font-size: 28px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: right;
    width: 100%;
  }
  
  button {
    background-color: #aadcf5;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgba(255, 255, 255, 0.9);
    color: #121212;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    margin: 5px;
    padding: 0 20px;
    transition: box-shadow 0.3s ease;
    width: calc(25% - 10px);
  }
  
  .clear {
    background-color: rgb(91, 175, 243);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgba(255, 255, 255, 0.9);
    color: #fff;
    width: 100%;
    height:40px;
  }
  
  button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.9);
  }
   
 

